<div class="footer">
  <div class="footer-left">
    <ul>
      <li>About Us</li>
      <li>Contact Us</li>
      <li>FAQs</li>
    </ul>
  </div>

    <p>Copyright © 2020 Permitify , Inc. All rights reserved.</p>

  <div class="footer-right">
    <ul>
      <button type="button" class="btn btn-fb"><i class="fab fa-facebook-f"></i></button>
      <button type="button" class="btn btn-ins"><i class="fab fa-instagram"></i></button>
      <button type="button" class="btn btn-tw"><i class="fab fa-twitter"></i></button>
      <button type="button" class="btn btn-git"><i class="fab fa-github"></i></button>
    </ul>
  </div>
</div>
