<body>
  <div class="home_container text-center">
    <h1>Welcome to Permitify</h1>
    <p>An online market place for dodgy permits,
    that will allow you to travel during lockdown!</p>
    <%= link_to "See All Permits", permits_path, class: 'home_btn' %>
  </div>
</body>