<body>

    <div class="text-center">
      <h1>Welcome to Permitify</h1>
      <h2></h2>
      <p>An online market place for dodgy permits,
      that will allow you to travel during lockdown!</p>
    </div>

    <div class="container margin-w-auto">
      <button type="button" class="btn position-absolute">
      <img class="img-fluid w-auto rounded" src='https://images.pexels.com/photos/247851/pexels-photo-247851.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260'>
    </div>

</body>



